/****************************
*   Configuración General   *
****************************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Dark-Purple: #24053E;
    --Eucaplyptus: #44FFA1;
    --Davys-Grey: #584D62;
    --Ghost-White: #FCF8FF;
    --White: #FFF;
}

@font-face {
    font-family: "Fraunces144";
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('truetype');
    font-weight: 0 1000;
    font-style: normal; 
}

@font-face {
    font-family: "Manrope";
    src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: 600;
    font-style: normal; 
}

/* body{
    height: 2494px;
    position: relative;
} */

/***************************/
/****************************
*          Header           *
*****************************
****************************/

header{
    height: 96px;
    background-color: var(--Dark-Purple);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

@media (min-width: 768px) {
    header {
        padding: 0 39px; 
    }
}

@media (min-width: 1440px) {
    header {
        height: 144px;
        padding: 0 165px; 
    }
}

/***************************/
/****************************
*           Main            *
*****************************
****************************/

/****************************
*       Presentación        *
****************************/

/* .contenedorPresentacion{
    position: absolute;
    z-index: 10;
} */

.contenidoPresentacion{
    height: 360px;
    background-color: var(--Dark-Purple);
}

@media (min-width: 768px) {
    .contenidoPresentacion {
        height: 391px;
    }
}

@media (min-width: 1440px) {
    .contenidoPresentacion {
        height: 616px;
    }
}
/****************************
*     Características       *
****************************/

.contenedorCaracteristicas{
    background-color: var(--Ghost-White);
    height: 1071px;
    width: 100%;
    /* z-index: -1; */
    /* position: absolute; */
    top: 392px;
}
/* 
.contenedorFondoSvg {
    width: auto; 
    height: 100px; 
    overflow: hidden;

}

.contenedorFondoSvg svg{
    width: 100%; 
    height: 100%; 
} */

/* 
.logo{
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    top: 57px;
    left: 165px;
}

.btnSecundario{
    color: var(--White, #FFF);
    background-color: rgba(255, 0, 0, 0);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.18px;
    border: none;
    border-bottom: #44FFA1 1px solid;
    
}

/* header .btnSecundario{
    position: absolute;
    z-index: 2;
    top: 57px;
    right: 165px;
}

.tittle{
    color: var(--White, #FFF);
    font-family: 'Fraunces144', sans-serif;
    font-size: 80px;
    line-height: 80px;
    font-feature-settings: 'clig' off, 'liga' off;

    position: absolute;
    z-index: 2;
    top: 146px;
    right: 50%;
    transform: translate(50%, 0);
} */

/* .subrayado{
    text-decoration: underline var(--Eucaplyptus);
}

.btnPrimario{
    background-color: var(--Eucaplyptus);
    border: none;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18000000715255737px;
    text-align: center;
    padding: 13px 32px;
}

header .btnPrimario{
    position: absolute;
    z-index: 2;
    top: 343px;
    right: 50%;
    transform: translate(50%, 0);
}  */

/****************************
*    Elementos Decorativos  *
****************************/

/* .ovaloDecorativo1{
    position: absolute;
    z-index: 2;
    top: 116px;
    left: -139px;
}
.ovaloDecorativo2{
    position: absolute;
    z-index: 2;
    top: 314px;
    right: -48px;
}
*/
.movilDevorativo{
    width: 715px;
    height: 427px;
    position: absolute;
    z-index: 2;
    top: 454px;
    right: 50%;
    transform: translate(51%, 0);
} 


/* main{
    top: -226px;
    height: 730px;
    position: relative;
    text-align: center;
    fill: var(--Ghost-White);
    overflow: hidden;
    z-index: 0;
}

.contenedorTarjetas{
    display: flex;
} */

/***************************/
/****************************
*          Footer           *
*****************************
****************************/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px 0;
}

@media (min-width: 768px) {
    footer {
        padding: 122px 0;
    }
}

@media (min-width: 1440px) {
    footer {
        padding: 110px 0; 
    }
}

.footerContenedor{
    height: 102.224px;
    width: 116px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.redesContenedor{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
