/****************************
*   Configuración General   *
****************************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Dark-Purple: #24053E;
    --Eucaplyptus: #44FFA1;
    --Davys-Grey: #584D62;
    --Ghost-White: #FCF8FF;
    --White: #FFF;
}

/* tipografía */

@font-face {
    font-family: "Fraunces144";
    src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('truetype');
    font-weight: 0 1000;
    font-style: normal; 
}

@font-face {
    font-family: "Manrope";
    src: url(./assets/fonts/manrope/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight: 600;
    font-style: normal; 
}

.font{
    font-family: "Fraunces144";
    color: var(--White);
    font-style: normal;
    font-weight: 600;
    font-feature-settings:"clig" off, "liga" off;
    text-align: center;
}

.headingS{
    font-size: 40px;
    line-height: 50px;
    width: 343px;
}

.bodyFont{
    color:var(--Davys-Grey);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: "Manrope";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

@media (min-width: 768px) {
    .headingM{
        font-size: 56px;
        line-height: 64px;
        width: 573px;
        padding: 0 40px;
    }
    
}

@media (min-width: 1440px) {
    .headingL{
        font-size: 80px;
        line-height: 80px;
        width: 635px;
        padding: 0 40px;
    }

    .bodyFont{
        font-size: 18px;
        line-height: 32px;
    }
}

.subrayado{
    text-decoration: underline var(--Eucaplyptus);
}

/* Botones */

.btnPrimario{
    background-color: var(--Eucaplyptus);
    border: none;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    text-align: center;
    padding: 13px 25px;
    cursor: pointer;
}

.btnPrimario:hover{
    border: 2px var(--Eucaplyptus) solid;
    background-color: rgba(255, 0, 0, 0);
    color: var(--Eucaplyptus);
}

.btnSecundario{
    color: var(--White, #FFF);
    background-color: rgba(255, 0, 0, 0);
    font-family: "Manrope";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.18px;
    border: none;
    border-bottom: #44FFA1 1px solid;
    cursor: pointer;
}

.btnSecundario:hover{
    color: var(--Eucaplyptus);
}

/***************************/
/****************************
*          Header           *
*****************************
****************************/

header{
    height: 96px;
    background-color: var(--Dark-Purple);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

@media (min-width: 768px) {
    header {
        padding: 0 39px; 
    }
}

@media (min-width: 1440px) {
    header {
        height: 144px;
        padding: 0 165px; 
    }
}

/***************************/
/****************************
*           Main            *
*****************************
****************************/
main.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    position: relative;
    z-index: 3;
}
/****************************
*       Presentación        *
****************************/
.contenedorPresentacion{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.contenidoPresentacion{
    height: 360px;
    background-color: var(--Dark-Purple);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 34px 15px 0 15px;
}


@media (min-width: 768px) {
    .contenidoPresentacion {
        height: 391px;
        padding-top: 26px;
    }

    .contenedorPresentacion .btnPrimario{
        margin-top: 39px;
        margin-bottom: 55px;
        }
}

@media (min-width: 1440px) {
    .contenedorPresentacion {
        padding-top: 2px;
    }

    .contenedorPresentacion .btnPrimario{
        margin-top: 37px;
        margin-bottom: 50px;
    }
} 

/*  Elementos Decorativos  */

.movilDevorativo{
    width: 320px;
    height: auto;
    z-index: 2;
} 

.contenedorDecoraciones{
    position: relative;
    width: 100%;
    height: auto;

    top:0px;
    overflow: hidden;
    z-index: 5;
}

.ovaloDecorativoIzq, .ovaloDecorativoDer{
    position: absolute;
    display: none;
    z-index: 6;

}

@media (min-width: 768px) {
    .movilDevorativo{
        width: 514px;
    } 
    .ovaloDecorativoIzq, .ovaloDecorativoDer{
        display: block;
    }
    .ovaloDecorativoIzq{
        top: 71px;
        left: -228px;
    }
    .ovaloDecorativoDer{
        top: 250px;
        right: -94px;
    }
}

@media (min-width: 1440px) {
    .contenidoPresentacion {
        padding-top: 50px;
        height: 616px;
    }
}

/****************************
*     Características       *
****************************/

.contenedorTarjetas{
    margin-top: 48px;
    display: grid;
    grid-template-rows: repeat(3, auto 1fr);
    grid-template-columns: 342px;
    justify-items: center;
    gap: 24px;
    grid-template-areas:
        "item1" 
        "texto1"
        "item2" 
        "texto2"
        "item3" 
        "texto3";
}

.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;    
}
.item3{
    grid-area: item3;  
}
.texto1{
    grid-area: texto1;
}
.texto2{
    grid-area: texto2; 
}
.texto3{
    grid-area: texto3;    
}

.nroItem {
    width: 48px;
    height: 46px;
    flex-shrink: 0;
    margin-top: 16px;
    
    border: solid var(--Davys-Grey) 1px;
    border-radius: 30.5px;
    font: 600 20px "Fraunces144";
    color: var(--Dark-Purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoTarjetas{
    width: 343px;
    color: var(--Davys-Grey, #584D62);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.tituloTarjeta{
    color: var(--Dark-Purple, #24053E);
    text-align: center;
    font-family: "Fraunces144";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
}

.detalleTarjeta{
    text-align: center;
}


/***************************/
/****************************
*          Footer           *
*****************************
****************************/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px 0;
}

@media (min-width: 768px) {
    footer {
        padding: 122px 0;
    }
}

@media (min-width: 1440px) {
    footer {
        padding: 110px 0; 
    }
}

.footerContenedor{
    height: 102.224px;
    width: 116px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.redesContenedor{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
